body{
    margin:0;
    padding:0;
    background:#f5f7fa;
    font-family:Arial, sans-serif;
}

.container{
    width:500px;
    margin:50px auto;
    background:#f6f8f3;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
    text-align:center;
}

.container:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.25);
    background-color: rgb(191, 204, 240);
}
#image{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    border:4px solid #4CAF50;
    margin-bottom:20px;
}

#name{
    font-size:30px;
    font-weight:bold;
    color:#333;
    margin:10px 0;
}

#tenkh{
    font-size:24px;
    font-weight:bold;
    color:#e42020;
    margin:15px 0;
}

#description{
    font-size:18px;
    color:black;
    line-height:1.6;
}
#tt{
  font-size:18px;
    color:black;
    line-height:1.6;
}
#mt{
  font-size:18px;
    color:black;
    line-height:1.6;
}
#ta{
  font-size:18px;
    color:black;
    line-height:1.6;
}
#bt{
  font-size:18px;
    color:black;
    line-height:1.6;
}